TAILSCALE_TAILNET = "xxxxxx@gmail.com"
TAILSCALE_API_KEY = "tskey-xxxxxx"
DNSPOD_API_ID = "1111111"
DNSPOD_API_TOKEN = "a1312320221313131123123123123"
DNSPOD_DOMAIN = 'xxxxxx.com'
DNSPOD_SUB_DOMAIN = ''